<div class="agileits-top">
    <form [formGroup]="customerForm" (ngSubmit)="onSubmit()">
        <a class="previous" routerLink=".."><fa-icon [icon]="faArr"></fa-icon></a>
        <h2>Nous sommes heureux de vous accueillir à nouveau</h2>
        <h1>{{firstName}} {{lastName}}</h1>
        <!-- <div style="padding-top: 10%;">
            <input type="checkbox" id="wantRepare" name="wantRepare" formControlName="wantRepare"
            style="margin-right: 1%;">
            <label for="wantRepare">Je viens pour faire une réparation</label>
        </div> -->
        <div>
            <input type="checkbox" id="isAcceptingConditions" name="isAcceptingConditions" formControlName="isAcceptingConditions"
            style="margin-right: 1%;">
            <label for="isAcceptingConditions">J'accepte les conditions générales de iMedia <span style="color:#ff0000">*</span></label>
            <p>
                <small style="color: red; float: left;"  
                *ngIf="customerForm.controls.isAcceptingConditions.errors?.required 
                && customerForm.controls.isAcceptingConditions.touched">
                il faut accepter nos conditions générales pour bénificier de notre service</small>
            </p>
        </div>
    
        <input type="submit" value="ENVOYER" [disabled]="!customerForm.valid">
      
     
    </form>
    </div>