<div class="main-w3layouts wrapper">
    <!-- <h1>Inscrivez-vous à notre nouveau système</h1> -->
    <div class="main-agileinfo">
        <img src="assets/images/logo.jpg">  
        <main [@routeAnimations]="prepareRoute(outlet)">
            <router-outlet #outlet="outlet"></router-outlet>
        </main>

        <!-- <app-personal></app-personal> -->
        <!-- <app-choice></app-choice> -->
        <!-- <app-company-tva></app-company-tva> -->
        <!-- <app-company-info></app-company-info> -->
    </div>

</div>