<div class="agileits-top">
    <form [formGroup]="emailForm" (ngSubmit)="onSubmit()">
        
        <a class="previous" routerLink=".."><fa-icon [icon]="faArr"></fa-icon></a>
        <h3>Email  <span style="color:#ff0000">*</span></h3>
         <input type="text" id="email" name="email" formControlName="email">
         <small style="color: red;"  
         *ngIf="emailForm.controls.email.errors?.required 
         && emailForm.controls.email.touched">
         ce champ est obligatoire</small>
         <small style="color: red;"  
         *ngIf="emailForm.controls.email.errors?.email 
         && emailForm.controls.email.touched">
         veuillez entrer une adresse mail valide</small>

        <input type="submit" value="ENVOYER" [disabled]="!emailForm.valid">
    </form>
</div>